<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>

	</startup>
	<appSettings>
		<add key="TelerikWinFormsThemeName" value="Fluent" />
		<add key="VideoPath" value="C:\Users\LNV-194\Desktop\RadWebCam\VideoRecordings"/>
		<add key="SnapShotPath" value="C:\Users\LNV-194\Desktop\RadWebCam\SnapShots"/>
	</appSettings>
</configuration>